/* Styling the scrollbar in Chrome and Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}
::-webkit-scrollbar {
  width: 0.5px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
   border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
::-webkit-scrollbar-thumb {
  background-color: #080807;
}
/* setting quiil text editor style */
.ql-toolbar.ql-snow + .ql-container.ql-snow {
font-family: math !important;
    font-weight: 100 !important;
    font-size: 14px !important;
    color: rgb(0, 0, 0) !important;
    height: 95px !important;
    width: auto !important;
}
 